<div id="branchName">##branch##</div>
<div id="collector">
    ##boxes##
</div>

##boxTemplate
<div id="box">
    <div class="header">
        <div class="head">##head##</div>
        <div class="stats"><span class="red">-##sub##</span><span class="green"> +##add##</span></div>
    </div>
    <div class="diffHolder">
        <table class="">
            ##rows##
        </table>
    </div>
</div>
##

##rowTemplate
<tr class="##class##" title="hi">
    <td class="old">##old##</td>
    <td class="new">##new##</td>
    <td class="diffContent">##diffContent##</td>
</tr>
##

##dividerTemplate
<tr class="dividers top"><td class="old"></td><td class="new"></td><td></td></tr>
<tr class="dividers spacer"><td colspan="3"></td></tr>
<tr class="dividers bottom"><td class="old"></td><td class="new"></td><td></td></tr>
##