<div id="collector">
    <div id="branchName">##branch##</div>
    ##boxes##
    ##boxTemplate
    <div id="box">
        <div class="header">
            <div class="head">##head##</div>
            <div class="stats"><span class="red">-##sub##</span><span class="green"> +##add##</span></div>
        </div>
        <div class="diffHolder">
            <div class="diffNumbers">
                <div class="old">##old##</div>
                <div class="new">##new##</div>
            </div>
            <div class="diff">##diff##</div>
        </div>
    </div>
    ##
    <div id="botBorder"></div>
</div>